.trigger {
  /*background: rgb(0, 0, 0);*/
	border-radius: 5px;
  text-align: center;
	cursor: pointer;
	display: block;
	padding: 10px;
  margin: 0 auto;
	width: 50px;
}

.content {
  display: block;
  /*background: rgb(0, 0, 0);*/
  margin: 0 auto;
	border-radius: 0 0 5px 5px;
  text-align: center;
	width: 50px;
}

.item {
	/*padding: 10px;*/
	transition: background .1s linear;
  cursor: pointer
}
.item:hover {
	/*background: rgb(255,255,255);*/
	cursor: pointer;
}

.dropdown {
	/*margin: 0 auto;*/
  /*background: rgb(26, 26, 26);*/
  height: 55px;
	outline: none;
  position: relative;
	transition: box-shadow .1s linear;
	width: 1180px;
}

.trigger:hover,
.dropdown.active .trigger {
  /*background: rgb(255,255,255);*/

}

.dropdown.active .trigger {
  /*background: rgb(255,255,255);*/
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
